<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, user-scalable=no">
        <title>{% block title %}SOS Harcel{% endblock %}</title>
        {% block stylesheets %}
            {# fonts #}
            <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Kite+One" rel="stylesheet">
            {# Styles CSS #}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"> {# Feuille de style CSS #}
            <link rel="stylesheet" href="{{ asset('css/responsive.css') }}"> {# Style CSS mobile tablettes #}
            <link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}"> {# FontAwesome #}
            <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
        {% endblock %}
    </head>
    <body>

            <header>

                <h1><img src="{{ asset('images/logo.png') }}">Sos Harcel</h1>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('deconnect') }}" id="disconnect"><span class="fa fa-sign-out"></span>Deconnexion</a>
                {% else %}
                    {% if form.email is defined %}
                        <a href="{{ path('login') }}"><span class="fa fa-user"></span>Se connecter</a>
                    {% else %}
                        <a href="{{ path('register') }}"><span class="fa fa-user-plus"></span>S'inscrire</a>
                    {% endif %}
                {% endif %}

            </header>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <p id="recall">Ceci est un site de soutien pour les personnes victime de harcélement scolaire</p>
                <ul id="displayUser">
                    <li>{{ app.user.pseudo }}</li>
                    {% if app.request.attributes.get('_route') == "pageUser" %}
                        <li><a href="{{ path('homepage') }}">Tous les messages</a></li>
                    {% else %}
                        <li><a href="{{ path('pageUser', {'id': app.user.id}) }}">Vos messages</a></li>
                    {% endif %}
                </ul>
            {% endif %}



                {% block body %}{% endblock %}

            </div>

            {% block javascripts %}{% endblock %}

    </body>

</html>